<div class="border-b border-neutral-900 pb-4 lg:mb-35">
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2">
            <div class="flex flex-col items-center lg:items-start px-4 lg:px-16">
                <h1 class="text-4xl pb-12 lg:mt-12 lg:text-5xl font-bold text-neutral-100 motion-preset-slide-right motion-duration-1000">Francisco Madriz</h1>

                <span class=" bg-gradient-to-r from-red-500 to-fuchsia-600 bg-clip-text text-transparent text-xl lg:text-2xl motion-preset-slide-right motion-duration-1000 motion-delay-500 font-semibold">Full Stack Developer</span>

                <p class="text-neutral-100 text-justify mt-2.5 py-6 motion-preset-slide-right motion-duration-1000 motion-delay-1000 indent-8">
                    I'm a 23 year old programmer from Venezuela with a great enthusiasm for continuous learning and tackling challenging projects that create impact.
                    Would you like to know more about my work or collaborate on something amazing?
                    You can download my CV and contact me here:
                </p>

                <div class="flex flex-wrap items-center gap-2">

                    <a href="/web/Resume-Francisco-Madriz.pdf" target="_blank" rel="noopener noreferrer">
                        <button class="bg-blue-700 hover:bg-blue-800 text-white font-bold py-2 px-4 rounded-lg motion-preset-slide-right motion-duration-1000 motion-delay-1500 cursor-pointer">Download CV</button>
                    </a>
                    
                    <!-- LinkedIn Icon SVG -->
                    <a href="https://www.linkedin.com/in/franciscomadriz/" target="_blank" rel="noopener noreferrer">
                        <img src="/web/linkedin.svg" alt="linkedin" class="w-12 h-12  motion-preset-shake motion-duration-1000 motion-delay-1500" />

                    </a>

                    <!-- Email Icon SVG --> 
                    <a href="mailto:madriz20102001@gmail.com" target="_blank" rel="noopener noreferrer">
                        <img src="/web/email.svg" alt="email" class="w-12 h-12  motion-preset-shake motion-duration-1000 motion-delay-1500">
                          
                    </a>

                    <!-- GitHub Icon SVG -->
                    <a href="https://github.com/Fmadriz19" target="_blank" rel="noopener noreferrer">
                        <img src="/web/github.svg" alt="linkedin" class="w-12 h-12  motion-preset-shake motion-duration-1000 motion-delay-1500" />
                    </a>
                </div>

            </div>
        </div>

        <div class="w-full lg:w-1/2 lg:p-8">
            <div class="flex items-center justify-center px-4 lg:px-16">
                <img src="/web/perfil.jpg" alt="perfil" class="motion-preset-shrink motion-duration-1000 motion-delay-1500 object-cover h-72 w-64 rounded-lg" />
            </div>
        </div>
    </div>
</div>
