<div class="border b border-neutral-900 pb-24 px-4">
    <h1 class="my-20 text-center text-4xl">Technologies</h1>

    <div class="flex flex-wrap items-center justify-center gap-4">
        
        <div class="rounded-2xl border-4 border-neutral-800 p-4">
            <img src="/web/angular-svgrepo-com.svg" alt="angular logo" class="w-20 h-20 motion-preset-shake motion-duration-1000">
        </div>
        
        <div class="rounded-2xl border-4 border-neutral-800 p-4">
            <img src="/web/react-javascript-js-framework-facebook-svgrepo-com.svg" alt="react logo" class="w-20 h-20 motion-preset-shake motion-duration-1000 motion-delay-500">
        </div>
        
        <div class="rounded-2xl border-4 border-neutral-800 p-4">
            <img src="/web/python-svgrepo-com.svg" alt="python logo" class="w-20 h-20 motion-preset-shake motion-duration-1000 motion-delay-1000">
        </div>
        
        <div class="rounded-2xl border-4 border-neutral-800 p-4">
            <img src="/web/typescript-svgrepo-com.svg" alt="ts logo" class="w-20 h-20 motion-preset-shake motion-duration-1000 motion-delay-2000">
        </div>
        
        <div class="rounded-2xl border-4 border-neutral-800 p-4">
            <img src="/web/mysql-svgrepo-com.svg" alt="mysql logo" class="w-20 h-20 motion-preset-shake motion-duration-1000 motion-delay-1000">
        </div>
        
        <div class="rounded-2xl border-4 border-neutral-800 p-4">
            <img src="/web/postgresql-svgrepo-com.svg" alt="postgresql logo" class="w-20 h-20 motion-preset-shake motion-duration-1000 motion-delay-500">
        </div>
        
        <div class="rounded-2xl border-4 border-neutral-800 p-4">
            <img src="/web/mongo-svgrepo-com.svg" alt="mongodb logo" class="w-20 h-20 motion-preset-shake motion-duration-1000">
        </div>

    </div>
</div>