<div class="border-b border-neutral-900 pb-4 px-4">
    <h1 class="my-20 text-center text-4xl">About Me</h1>
    
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 lg:p-8">
            <div class="flex items-center justify-center">
                <img src="/web/about.jpg" alt="about me" class="rounded-2xl motion-preset-slide-right motion-duration-1500" />
            </div>

        </div>

        <div class="w-full lg:w-1/2">

            <div class="flex justify-center lg:justify-start">
                <p class="my-2 max-w-xl py-6 motion-preset-slide-left motion-duration-1500 indent-8 text-justify">

                    I'm a Dynamic Full Stack Engineer with 2+ years of experience developing robust web applications.

                    <br><br>

                    I have a strong foundation in programming languages such as JavaScript, TypeScript, and Python, and I'm proficient in frameworks like React, Angular, and Node.js. I also have experience with databases like MongoDB and MySQL.
                </p>

            </div>
        </div>

    </div>
</div>