<div class="border-b border-neutral-900 pb-4 px-4">
    <h1 class="my-20 text-center text-4xl">About Me</h1>
    
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2 lg:p-8">
            <div class="flex items-center justify-center">
                <img src="/web/about.jpg" alt="about me" class="rounded-2xl motion-preset-slide-right motion-duration-1500" />
            </div>

        </div>

        <div class="w-full lg:w-1/2">

            <div class="flex justify-center lg:justify-start">
                <p class="my-2 max-w-xl py-6 motion-preset-slide-left motion-duration-1500 indent-8 text-justify">I am a responsible, organized individual always seeking new challenges. Currently, I am looking for my first professional experience in the field of computing, where I can apply my knowledge in front-end technologies Angular, React and back-end technologies Python, PHP, TypeScript, JavaScript, as well as in database management such as MySQL, PostgreSQL, and MariaDB.

                    My goal is to contribute with innovative solutions, learn from every experience, and continue growing as a professional in the fascinating world of technology.</p>
            </div>
        </div>

    </div>
</div>