<div class="relative min-h-screen w-full ">
 
  <main class="overflow-x-hidden text-slate-50 anti-aliasing selection:bg-blue-700/50 selection:text-slate-50">

        <div class="fixed top-0 -z-10 h-full w-full">
            
        </div>
        <div class="absolute -z-2 bottom-0 left-0 right-0 top-0 bg-slate-950 bg-[radial-gradient(circle_500px_at_50%_200px,#3e3e3e,transparent)]"></div>
        
        <div class="container mx-auto">
            <app-navbar />
            <app-hero />
            <app-about id="about" />
            <app-technologies />
            <app-experiences />
            <app-projects id="projects" />
        </div>
        
    </main>

  <button class="fixed p-3 text-slate-50 transition-all duration-300 rounded-lg shadow-lg bg-blue-700/85 cursor-pointer
   bottom-8 right-8"
          (click)="goTop()"
          [class.opacity-0]="!showButton" [class.opacity-100]="showButton">
          <svg class="w-6 h-6 fill-[#ffffff]" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">

              <path d="M233.4 105.4c12.5-12.5 32.8-12.5 45.3 0l192 192c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L256 173.3 86.6 342.6c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3l192-192z"></path>
            
            </svg>
  </button>

</div>